# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Environment variables and secrets
.env

# Virtual environment folders (if created manually)
.venv/
env/
venv/

# macOS metadata
.DS_Store

# Ignore the data folder
data/

# Ignore kaggle api
/kaggle.json

# Ignore the data folder
saved_models/