# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Environment variables and secrets
.env

# Virtual environment folders (if created manually)
.venv/
env/
venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# macOS metadata
.DS_Store

# pyenv local version file (optional: keep or ignore)
# .python-version